$primary: #88bdd7;
$background: #cbd581;
.index {
  background: #e9f4fa;
  .box {
    background: #fff6e9;
  }
  figure {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.tag {
  &.is-burger {
    color: white;
    background-color: #b36305;
  }

  &.is-beer {
    color: white;
    background-color: #e32017;
  }

  &.is-steak {
    background-color: #ffd300;
  }

  &.is-pizza {
    color: white;
    background-color: #00782a;
  }

  &.is-icecream {
    color: white;
    background-color: #00a4a7;
  }

  &.is-desserts {
    background-color: #f3a9bb;
  }

  &.is-noodles {
    background-color: #a0a5a9;
  }

  &.is-wine {
    color: white;
    background-color: #9b0056;
  }

  &.is-gin {
    color: white;
    background-color: #000;
  }

  &.is-sushi {
    color: white;
    background-color: #ee7c0e;
  }

  &.is-smoothie {
    color: white;
    background-color: #003688;
  }

  &.is-juice {
    color: white;
    background-color: #0098d4;
  }

  &.is-chocolate {
    background-color: #95cdba;
  }
}
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~bulma';
